#nav {
  display: flex;
  justify-content: end;
  background-color: rgb(170, 166, 166);
  padding: 20px 0;
}
#nav > .nav_element {
  padding-right: 15px;
  color: teal;
  text-decoration: none;
  font-size: x-large;
}
#nav > .nav_element:hover {
  padding-right: 15px;
  color: rgb(58, 223, 223);
  text-decoration: none;
  font-size: x-large;
}
